* {
    all: unset; // Unsets everything so you can style everything from scratch
}

.sidestuff slider {
    all: unset;
}

.workspace-entry {
    margin-left: 2px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Hack NF Regular";
    font-size: 17px;
}

.workspace-entry.active {
    color: #000000;
    background-color: #ffffff;
}

.workspace-entry.inactive {
    color: #c8c8c8;
    background-color: #2e2e2e;
}

.workspace-entry.magic {
    background-color: #6746a1;
}

.window-entry {
    margin-left: 2px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Hack NF Regular";
    font-size: 17px;
}

.window-entry.active {
    color: #000000;
    background-color: #ffffff;
}

.window-entry.inactive {
    color: #c8c8c8;
    background-color: #2e2e2e;
}

menu {
    border-radius: 5px;
    padding: 1px;
    background-color: #2e2e2e;
    color: #c8c8c8;

    menuitem {
        border-radius: 3px;
        padding: 1px 2px;
    }
    menuitem:hover {
        background-color: #ffffff;
        color: #000000;
    }
}
